@media (max-width: 410px){
    body{
        background-color: #FF4848;
    }
    h1{
        font-size: 15px;
    }
    p{
       text-align: justify; 
    }
  
}

@media (min-width: 410px) and (max-width: 768px){
    body{
        background-color: #80ED99;
    }
     h1{
        font-size: 15px;
    }
    p{
       text-align: justify; 
    }
    #small{
        width: 66%;
    }
    #medium{
        width: 33%;
    }
    #large{
        width: 100%;
    }
  
}

@media (min-width: 768px){
    body {
background-color: #77ACF1;
    }
  .container{
      display: grid;
      grid-template-columns: 250px 250px 250px ;
      grid-template-rows: auto;
      text-align: center;
      margin: 30px;

  }
  p{
      margin: 10px;
      text-align: justify;
  }
   
}

